.recipe-title,
#ingredients {
    color: purple;
    background-color: #0000ff10;
  }

  .subsection.header {
    color: red;
    background-color: black;
  }
  
  .subsection#preview {
    color: blue;
  }

  .ancestor .contents2 {
    color: rgb(0, 255, 64);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight:bold;
  }
  
  body {
    background-color: grey;
  }

  .list1 {
    color: black;
  }

  img {
    height: auto;
    width: 200px;
  }